@import "animations";

/* Put main CSS here */

/* HTML5 logo */

a.navbar-brand {
    line-height: 14px;
    font-size: 13px;
    padding-bottom: 0;
    padding-top: 11px;
}
a.navbar-brand img {
    width: 28px;
    margin-top: -16px;
    margin-left: 10px;
}
.strike {
    text-decoration: line-through;
}
